[Unit]
Description=Flask Application
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/flask-api
ExecStart=/home/ubuntu/ec2_env/bin/python /home/ubuntu/flask-api/app.py
Restart=always

[Install]
WantedBy=multi-user.target
